@{
    ViewBag.Title = "Sodo List";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to a (S)imple T(odo) list !
            </p>
        </div>
    </section>
}
<h3>Get started:</h3>
<ol class="round">
    <li class="one">
        <h5>Get an account</h5>
    </li>

    <li class="two">
        <h5>Add a Sodo note</h5>
    </li>

    <li class="three">
        <h5>Complete it !</h5>
    </li>
</ol>
